<div class="field">
	<label soho-label [for]="id" [class.required]="required">{{ label }}</label>
	<select
		soho-dropdown
		[id]="id"
		[multiple]="multiple"
		[showSearchUnderSelected]="showSearchUnderSelected"
		[showTags]="showTags"
		reload="typeahead"
		moveSelected="all"
		[showEmptyGroupHeaders]="true"
		[(ngModel)]="model.value"
		soho-tooltip
		(change)="onDropdownChange($event)">
		@for (option of options; track option.value) {
			<option
				[id]="option.label"
				selected="{{ option.selected }}"
				[value]="option.value">
				{{ option.label }}
			</option>
		}
	</select>
	<ids-button
		[id]="'delete' + id"
		*ngIf="removeable"
		icon="delete"
		(click)="removeIndex.emit()"></ids-button>
</div>
