:host.ok {
	display: block;
	overflow-x: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}

.text-container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto; /* grow and shrink as needed */
	overflow-y: auto;
}

.item-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 0 0 auto; /* fixed height */
}

.flex-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
}

.text-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: hidden;
}
