<!-- <div class="flex-container"> -->

@if (editingTextVersion()) {
	<new-textblock
		[contextMap]="contextMap"
		[textVersion]="editingTextVersion()"
		(completed)="onTextBlockCompleted($event)"></new-textblock>
}
@if (textBlocks().length && !editingTextVersion()) {
	<ids-accordion
		[id]="'accordion' + instanceId"
		#accordion
		[allowOnePane]="true"
		(expanded)="setExpanded($event)"
		(collapsed)="setExpanded($event)">
		@for (block of textBlocks(); track block; let i = $index) {
			<ids-accordion-panel
				[id]="block.TXVR + '-' + instanceId"
				[expanded]="i === 0 && textBlocks().length === 1 ? true : false">
				<ids-accordion-header slot="header">
					<ids-text font-size="16">{{ block.TX40 || block.TXVR }}</ids-text>
					@if (editEnabled) {
						<ids-button
							icon="edit"
							appearance="tertiary"
							size="sm"
							style="margin-left: auto"
							[title]="'editText' | t"
							(click)="onEditBlock(block, $event)">
						</ids-button>
					}
					@if (deleteEnabled) {
						<ids-button
							icon="delete"
							appearance="tertiary"
							size="sm"
							style="margin-left: auto"
							[title]="'deleteText' | t"
							(click)="onDeleteTextBlock(block)">
						</ids-button>
					}
				</ids-accordion-header>
				<div slot="content">
					<ids-text [innerHTML]="block.text">{{ block.text }}</ids-text>
				</div>
			</ids-accordion-panel>
		}
	</ids-accordion>
}
<!-- 	} @else {
			<new-textblock
				[contextMap]="contextMap"
				[textVersion]="editingTextVersion()"
				(completed)="onTextBlockCompleted($event)"
				(textChange)="onTextChange($event)"></new-textblock>
		} -->
<!-- </div> -->
